<h3>Artists similar to '<%= params[:name]%>'</h3><br/>
 <table class="table">
	<thead>
	<th>Artist</th>
	<th>Hotness</th>
	<th>Familiarity</th>	
	</thead>
	
 <% @similar["response"]["artists"].each do |artist|%>
	<tr>
	<td> <%= artist["name"]%> </td> 
	<td> <%= hotness URI::escape(artist["name"])%></td>
	<td> <%= familiarity URI::escape(artist["name"])%></td> 
	
	</tr>
		
<%end%>
    <thead>
	<th> &#8721;X, &#8721;Y Values</th>
	<th> <% @similar["response"]["artists"].each do |artist|%>
			<% @hotArray.push (hotness URI::escape(artist["name"])) %>
			<% @famArray.push(familiarity URI::escape(artist["name"])) %>
		 <%end%>
		<%=	@hotArray.reduce(0) {|x,y| x + y} %> 	
	</th>
	
	<th> 
		<%=	@famArray.reduce(0) {|x,y| x + y} %> 	
	</th>				
	</thead>
	
	<thead>	
		<th>
		 &#8721;XY	
		</th>	
		
		<th>
		 <%= arrayMultiply @hotArray, @famArray %>
		</th>
	</thead>
	
	<thead>
		<th>
		 &#8721;X<sup>2</sup>, 	 &#8721;Y<sup>2</sup>
		</th>	
		
		<th>
		 <%= @hotArray.reduce(0) {|x,y| x + (y * y) } %>
		</th>
		
		<th>
		 <%= @famArray.reduce(0) {|x,y| x + (y * y) } %>
		</th>
	</thead>
	
	<thead>
		<th>
		 Correlation Coefficient
		</th>	
		
		<th>
		 <%= ruby_pearson @hotArray, @famArray %>
		</th>
		
	
	</thead>
</table>



<p>The Echonest API provides two metrics, <code>hotttnesss</code> and <code>familiarity</code> each of which is calculated based on several parameters–number of record sales, number of concerts, number of live performances etc. The specifics are at best, ambiguous.</p>
<p> So, I calculate the Pearson product-moment coefficient of correlation (r) between <code>hotttnesss</code> and <code>familiarity</code> If the correlation is strong (closer to 1) we can say that the two metrics are <i>closely related</i><sup>1</sup> and partially substantiate the methods that Echonest says it uses to calculate them.
</p>
<br/>
<div id="hotfamchart" class="span6"></div>