<div class="hero well span6 offset3">
	<h3>Welcome to Fruitr</h3>
	
		<h4>Enter an artist name and hit 'Search'<h4>
		<br/>	
		<%= form_tag '/basic', :class=> "form-search", :method=>:get do  %>
		
		
		<%=label :name, "Name"%>
		<%= text_field_tag :name, params[:name], :class=>"input-medium search-query" %>
		<br/><br/>
		
		
		<%= submit_tag "Fruitify!", :id => "submit", :name => "submit", :class => "btn btn-primary", :disabled => false, :disable_with => "Please wait..." %>

	  	<%end%>

</div>

	<% unless @similar.nil?%>
	<div class="span span6 offset3">
		<%= render :partial => "first_step" %>
		<%= render :partial => "second_step"%>
	</div>	
	<% end %>