<div class="row">
<script type="text/javascript" charset="utf-8">
	var chart1;

</script>
<div class="hero well span5 offset4">
	<h3>Welcome to Fruitr</h3>
		<br/><br/>
		<%= form_tag fruitify_path, :class=> "form-search", :method=>:get do  %>
		<%=label :name, "Artist"%>  
		<%= text_field_tag :name, params[:name], :class=>"input-medium search-query" %>
		

		<%= submit_tag "Search", :class=>"btn btn-primary", :name=>nil %>

	  	<%end%>

</div>	

<div id="echochart" class="span5 offset4"></div>

<ul class="artists well span5 offset4">
		<%unless @similar.nil? %>
		
		<p>Similar artists: <%= @similar.length%></p>
		 <% @artists.each do |ar|%>
			<%= ar %> <br/>
			<%= @artists.length%>
		<%end%>
		<%end%>


</ul>

	

</div>	