<div class="row">
<div class="hero well span5 offset4">
	<h3>Welcome to Fruitr</h3>

		<%= form_tag fruitify_path, :class=> "search", :method=>:get do  %>
		  <%= text_field_tag :name, params[:name]  %>
			<%= submit_tag "Search", :class=>"btn btn-primary"%>

	  	<%end%>

</div>	

<ul class="artists well span5 offset4">
	<% unless @hot.nil? %>
	  
	 <%= @hot["response"]["artist"]["name"]%> :
	 <%= @hot["response"]["artist"]["hotttnesss"]%>
	
	 
	
  	<%end%>
	

</ul>

	

</div>	