<div class="hero well span6 offset3">
	<h3>Welcome to Fruitr</h3>
		<br/>
		<p>
		This part of the experiment lets you search by genre and a year range. Two interesting bucket parameters here are:
		<code>artist_start_year_after</code> and <code>artist_end_year_before</code> that lets us search for artists within a specific time period. This is still very experimental. The "end year", as far as I can surmise, indicates the year after which the artist stop producing/making/performing any music. Because of this, you will see a lot of obscure artist names.
		</p><br/>
		<h4>Enter a genre, start year and an end year:<h4>
		<br/>	
		<%= form_tag '/genre', :class=> "form-search", :method=>:get do  %>
		
		
		<%=label :genre, "Genre"%>
		<%= text_field_tag :genre, params[:genre], :class=>"input-medium search-query" %>
		<br/><br/>
		<%= label :startyear, "Start Year" %>
		<%= text_field_tag :startyear, params[:startyear], :class=>"input-small search-query" %>
		<br/><br/>
		<%= label :endyear, "End year" %>
		<%= text_field_tag :endyear, params[:endyear], :class=>"input-small search-query" %>
		
		<%= submit_tag "Fruitify!", :id => "submit", :name => "submit", :class => "btn btn-primary", :disabled => false, :disable_with => "Please wait..." %>

	  	<%end%>

</div>	

<canvas id="genreCanvas" class="span offset3">
	Your browser does not support the Canvas element. Maybe try downloading Chrome?
</canvas>

<div class="span6 offset3">

 <%unless @search.nil? %>		
  <!-- search method results -->
  <%= render :partial => "search_artist" %>

 <%end%>
	
</div>


	<script type="text/javascript" charset="utf-8">
	window.onload = function() {
	        var canvas = document.getElementById("genreCanvas");
	        var context = canvas.getContext("2d");
			context.fillStyle ="#000000";
	        var x = canvas.width / 2;
	        var y = canvas.height / 2;
	        var radius = 75;
	        var startAngle = 0;
	        var endAngle = 360;
	        var counterClockwise = false;

	        context.beginPath();
	
	        context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
	        context.lineWidth = 15;
	        // line color
	        context.strokeStyle = "black";
	        context.stroke();
			context.closePath();
			
	      };
	
	</script>

