<div class="row">

<div class="hero well span8 offset1">
	<h3>Welcome to Fruitr</h3>
		<br/>
		<h4>Enter an artist name and hit 'Search'<h4>
		<br/>	
		<%= form_tag '/', :class=> "form-search", :method=>:get do  %>
		<%=label :name, "Artist"%>  
		<%= text_field_tag :name, params[:name], :class=>"input-medium search-query" %>
		
		<%= submit_tag "Search", :class=>"btn btn-primary", :name=>nil %>

	  	<%end%>

</div>	



<div class="artists well span8 offset1">
		<%unless @similar.nil? %>
		 <table class="table">
			<thead>
			<th>Artist</th>
			<th>Hotness</th>
			<th>Familiarity</th>	
			</thead>
		 <% @similar["response"]["artists"].each do |artist|%>
			<tr>
			<td> <%= artist["name"]%> </td> 
			<td> <%= hotness URI::escape(artist["name"])%></td>
			<td> <%= familiarity URI::escape(artist["name"])%></td> 
			
			</tr>
				
		<%end%>
		    <thead>
			<th> &#8721;X, &#8721;Y Values</th>
			<th> <% @similar["response"]["artists"].each do |artist|%>
					<% @hotArray.push (hotness URI::escape(artist["name"])) %>
					<% @famArray.push(familiarity URI::escape(artist["name"])) %>
				 <%end%>
				<%=	@hotArray.reduce(0) {|x,y| x + y} %> 	
			</th>
			
			<th> 
				<%=	@famArray.reduce(0) {|x,y| x + y} %> 	
			</th>				
			</thead>
			
			<thead>
				<th>
				 &#8721;XY	
				</th>	
				
				<th>
				 <%= arrayMultiply @hotArray, @famArray %>
				</th>
			</thead>
			
			<thead>
				<th>
				 &#8721;X<sup>2</sup>, 	 &#8721;Y<sup>2</sup>
				</th>	
				
				<th>
				 <%= @hotArray.reduce(0) {|x,y| x + (y * y) } %>
				</th>
				
				<th>
				 <%= @famArray.reduce(0) {|x,y| x + (y * y) } %>
				</th>
			</thead>
			
			<thead>
				<th>
				 Correlation Coefficient
				</th>	
				
				<th>
				 <%= ruby_pearson @hotArray, @famArray %>
				</th>
				
			
			</thead>
		</table>
		
		
		<%end%>

		<div id="container" class="span6">

		</div>
</div>
<script type="text/javascript" charset="utf-8">
	var chart1; // globally available
	$(document).ready(function() {
	      chart1 = new Highcharts.Chart({
	         chart: {
	            renderTo: 'container',
	            type: 'line'
	         },
	         title: {
	            text: 'Fruit Consumption'
	         },
	         xAxis: {
	            title:
					{
						text:'Hotttnesss'
					}
	         },
	         yAxis: {
	            title: {
	               text: 'Familiarity'
	            }
	         },
	         series: [{
	            name: 'Hotttnesss',
	            data: <%= @hotArray.inspect %>
	         }, {
	            name: 'Familiarity',
	            data: <%= @famArray.inspect %>
	         }]
	      });
	   });

</script>
	


	

</div>