<div class="row">

<div class="hero well span6 offset3">
	<h3>Welcome to Fruitr</h3>
		<br/>
		<h4>Enter an artist name and hit 'Search'<h4>
		<br/>	
		<%= form_tag '/', :class=> "form-search", :method=>:get do  %>
		<%=label :name, "Artist"%>  
		<%= text_field_tag :name, params[:name], :class=>"input-medium search-query" %>
		
		<%= submit_tag "Search", :class=>"btn btn-primary", :name=>nil %>

	  	<%end%>

</div>	



<div class="artists well span6 offset3">
		<%unless @similar.nil? %>
		<%= render :partial=> 'first_step' %> 
		<div id="hotfamchart" class="span6"></div>
		
		<%= render :partial=> 'second_step'%>
		<div id="blognewschart" class="span6"></div>
		
		<%end%>




	
</div>
<script type="text/javascript" charset="utf-8">
	var chart1, chart2; // globally available
	$(document).ready(function() {
	      chart1 = new Highcharts.Chart({
	         chart: {
	            renderTo: 'hotfamchart',
	            type: 'line'
	         },
	         title: {
	            text: 'Hotttnesss vs. Familiarity'
	         },
	         xAxis: {
	            title:
					{
						text:'Hotttnesss'
					}
	         },
	         yAxis: {
	            title: {
	               text: 'Familiarity'
	            }
	         },
	         series: [{
	            name: 'Hotttnesss',
	            data: <%= @hotArray.inspect %>
	         }, {
	            name: 'Familiarity',
	            data: <%= @famArray.inspect %>
	         }]
	      });
	
	    // blogs vs news
		chart2 = new Highcharts.Chart({
	         chart: {
	            renderTo: 'blognewschart',
	            type: 'line'
	         },
	         title: {
	            text: 'Total blogs vs. total news'
	         },
	         xAxis: {
	            title:
					{
						text:'Blogs'
					}
	         },
	         yAxis: {
	            title: {
	               text: 'News'
	            }
	         },
	         series: [{
	            name: 'Blogs',
	            data: <%= @blogArray.inspect %>
	         }, {
	            name: 'News',
	            data: <%= @newsArray.inspect %>
	         }]
	      });
	   });

</script>
	


	

</div>