<!DOCTYPE html>
<html>
<head>
  <title>Fruitr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container offset3 span6">
		<ul class="nav">
		  <li><a href="/genre">Genre, Era specific Correlation</a></li>
	      <li><a href="/basic">Basic Correlation</a></li>

		 </ul>
	    </div>
	  </div>
	</div>

<p>
<%= flash[:notice] %>
</p>


<div class="row">
<%= yield %>

<footer class="span6 offset3">
<small>All content presented here is property of <a href="http://www.rishighan.com">Rishi Ghan</a>, unless otherwise specified</small>
<%= render :partial => '/layouts/analytics' %>
</footer>
</div>

</body>
</html>
