<!DOCTYPE html>
<html>
<head>
  <title>Fruitr</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
<%= flash[:notice] %>	
</p>
<%= yield %>

<footer>
<p>All content presented here is property of Rishi Ghan, unless otherwise specified</p>	
<%= render :partial => '/layouts/analytics' %>	
</footer>

</body>
</html>
